
.rm{
  
}

.singleAsset {
  align-items: center;
  background-color: transparent;
  flex: 1;
  padding: 10px;
  border-radius: 10px;cursor: pointer;
}
.singleAssetActive{
  align-items: center;
  flex: 1;
  padding: 10px;
  border-radius: 10px;cursor: pointer;
}

.singleAsset2{
  align-items: center;
  background-color: transparent;
  flex: 1;
  padding: 20px;
  font-size: 2rem;
  border-radius: 10px;cursor: pointer;
}
.singleAsset:hover, .singleAssetActive, .singleAsset2:hover {
  background-color: #5a458f;
  color: white;
}

.my-modal {
  background-color: black ;
}
.r {
  color: red !important;
}
.switch {
  display: inline-block;
  span {
      position: relative;        
      width: 60px;
      height: 34px;
      float: left;
      input {
          display:none;
          &:checked + .slider { background-color: #218d96; }
          &:checked + .slider:before { transform: translateX(26px); }
          &:focus + .slider { box-shadow: 0 0 1px #218d96; }
      }
  }
  label {
      line-height: 34px;
      margin-left: 12px;
      cursor: pointer;
  }
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border: 0;
  outline: none;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
  cursor: pointer;
  &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: .4s;
      border-radius: 50%;
  }
}

.wand-icon {
  padding: 13px;
  background-color: lightgray;
  border-radius: 100%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.wand-icon.rotate {
  animation: spin 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .rm {
    height: 560px; /* Set height to 560px for medium-sized screens */
  }
}


.glass{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.no-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
